{# templates/upload_form.html #}
{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}Create label{% endblock %}
{% block content %}
    <img src="{{ question.diagram.url }}">
    <input type="text" class="form-control" id="input_label" />
    <input type="text" class="form-control" id="input_type" />
    <button class="btn btn-default" id="button_add">Click</button> <br>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type=hidden name="html" value="true" />
        {{ form }}
        <input type="submit" class="btn btn-default" value="Upload" />
    </form>
    <a href="{{ next }}">Next</a>
{% endblock %}

{% block script %}
    <script src="{% static "labels/labels_create.js" %}"></script>
{% endblock %}
