{% extends "base.html" %}
{% block title %}Labeled Question{% endblock %}
{% block content %}
	<h2>Labeled Questions</h2>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>Text</th>
			<th>Diagram</th>
			<th>Choices</th>
			<th>Valid?</th>
			<th>Answer</th>
			<th>Tags</th>
			<th>Actions</th>
		</tr>
		{% for label in label_list %}
			<tr>
				<td>{{ label.question.pk }}</td>
				<td>{{ label.question.text }}</td>
				<td>
				{% if label.image != '' %}
					<img src="{{ label.image.url }}">
				{% endif %}
				</td>
				<td>
					<ol>
					{% for choice in label.question.choices.all %}
						<li>{{ choice.text }}</li>
					{% endfor %}
					</ol>
				</td>
				<td>{{ label.question.valid }}</td>
				<td>
				{% if label.question.answer %}
					{{ label.question.answer }}
				{% endif %}
				</td>
				<td>
					{% for tag in label.question.tags.all %}
					{{ tag }} 
					{% endfor %}
				</td>
                <td>

                </td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}