setuptools
unipath==1.0
django-storages
jsonfield
numpy
scipy
scikit-learn
sympy
networkx
nltk
inflect
pyparsing
matplotlib
pydot2
mysql-python==1.2.5
django==1.7
django-picklefield
boto
django-modeldict
pillow
beautifulsoup4
requests
algopy
pyipopt
