MySQL-python=1.2.5
unipath=1.0
django-storages
boto
jsonfield
numpy
scipy
scikit-learn
sympy
networkx
nltk
inflect
pyparsing
matplotlib
pydot2
mysql-python
django=1.7
django-picklefield
jsonfield
django-storages
boto
django-modeldict
pillow
unipath
beautifulsoup4
requests
