{% extends "base.html" %}
{% block title %} Characters {% endblock %}
{% block content %}
	<h2>Characters</h2>
	<p>
		<a href="{% url 'characters-upload' %}">Upload a character</a>
		<a href="{% url 'characters-update' 'all' %}">Update all</a>
	</p>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>Image</th>
			<th>Label</th>
			<th>Valid?</th>
			<th>Labeled?</th>
			<th>Tags</th>
			<th>Actions</th>
		</tr>
		{% for character in character_list %}
			<tr>
				<td>{{ character.pk }}</td>
				<td>
				{% if character.image != '' %}
					<img src="{{ character.image.url }}">
				{% endif %}
				</td>
				<td>{{ character.label }}</td>
				<td>{{ character.valid }}</td>
				<td>{{ character.labeled }}</td>
				<td>
					{% for tag in character.tags.all %}
					{{ tag }} 
					{% endfor %}
				</td>
				<td>
					<a href="{% url 'characters-detail' character.pk %}">detail</a>
					<a href="{% url 'characters-update' character.pk %}">update</a>
					<a href="{% url 'characters-delete' character.pk %}">delete</a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}