{# templates/characters/character_update_form.html #}
{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
	<h2>{{ title }}</h2>
	<p><a href="{% url 'characters-list' %}">Cancel</a></p>
	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<!-- Indicating this POST request is made on web browser -->
		<input type=hidden name="html" value="true" />
		<table border=1>
			<tr>
				<th>ID</th>
				<th>Image</th>
				<th>Label</th>
				<th>Valid?</th>
				<th>Labeled?</th>
			</tr>
			{% for form in forms %}
				<tr>
					<th>{{ form.instance.pk }}</th>
					<th>
						<p><img src="{{ form.instance.image.url }}"></p>
						<p>{{ form.image }}></p>
					</th>
					<th>{{ form.label }}</th>
					<th>{{ form.valid }}</th>
					<th>{{ form.labeled }}</th>
				</tr>
			{% endfor %}
		</table>
		<p>
			<input type="submit" value="Update" />
			<a href="{% url 'characters-list' %}">Cancel</a>
		</p>
	</form>

{% endblock %}