{% extends "base.html" %}
{% block title %}Character ID: {{ character.pk }}{% endblock %}
{% block content %}
	<h2>Character ID: {{ character.pk }}</h2>
	<p>
		<a href="{% url 'characters-list' %}">Go to list</a>
		<a href="{% url 'characters-update' character.pk %}">Update</a>
		<a href="{% url 'characters-delete' character.pk %}">Delete</a>
	</p>
	<p><h4>Image</h4><img src="{{ character.image.url }}"></p>
	<p><h4>Label</h4>{{ character.label }}</p>
	<p>
		<h4>Tags</h4>
		<ul>
			{% for tag in character.tags.all %}
				<li>{{ tag }}</li>
			{% endfor %}
		</ul>
	</p>
{% endblock %}