{% extends "base.html" %}
{% block title %} Questions {% endblock %}
{% block content %}
	<h2>Questions</h2>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>Text</th>
			<th>CoreNLP Tree</th>
			<th>Temp</th>
			<th>Actions</th>
		</tr>
		{% for deptree in deptree_list %}
			<tr>
				<td>{{ deptree.question.pk }}</td>
				<td>{{ deptree.question.text }}</td>
				<td>
				{% if question.diagram != '' %}
					{% for deptreeimage in deptree.images.all %}
						<img src="{{ deptreeimage.image.url }}"><br>
					{% endfor %}
				{% endif %}
				</td>
				<td>
					{{ deptree.temp }}
				</td>
				<td>
					<a href="../update/{{ deptree.question.pk }}">update</a>
					<a href="../delete/{{ deptree.question.pk }}">delete</a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}