{% extends "base.html" %}
{% block title %} Questions {% endblock %}
{% block content %}
	<h2>Questions</h2>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>Text</th>
			{% if False %}
				<th>CoreNLP Tree</th>
			{% endif %}
			<th>Relations</th>
			<th>Actions</th>
		</tr>
		{% for deptree in deptree_list %}
			<tr>
				<td>{{ deptree.question.pk }}</td>
				<td>{{ deptree.question.text }}</td>
				{% if False %}
					<td>
					{% if deptree.question.diagram != '' %}
						{% for deptreeimage in deptree.images.all %}
							<img src="{{ deptreeimage.image.url }}"><br>
						{% endfor %}
					{% endif %}
					</td>
				{% endif %}
				<td>
					{{ deptree.temp|safe }}
				</td>
				<td>
					<a href="../update/{{ deptree.question.pk }}">update</a>
					<a href="../delete/{{ deptree.question.pk }}">delete</a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}