{% extends "pagination.html" %}
{% block questions_tab %}class="active"{% endblock %}
{% block title2 %}Questions{% endblock %}
{% block header %}Questions{% endblock %}
{% block content2 %}
        <p>
            <a href="{% url 'questions-upload' %}">Upload a question</a>
            <a href="{% url 'questions-update_all' %}">Update all</a>
        </p>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Number</th>
                <th>Text</th>
                <th>Diagram</th>
                <th>Choices</th>
                <th>Answer</th>
                <th>Tags</th>
                <th>Actions</th>
            </tr>
            {% for question in question_list %}
                <tr>
                    <td>{{ question.pk }}</td>
                    <td>{{ forloop.counter0 }}</td>
                    <td>
                        {{  question.text }}

                    </td>
                    <td>
                    {% if question.diagram %}
                        <div class="item"><img src="{{ question.diagram.url }}" width="300px"></div>
                    {% endif %}
                    </td>
                    <td>
                        <ul class="list-group">
                            {% for choice in question.choices.all %}
                                <li class="list-group-item">{{ choice.number }}. {{ choice.text }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                    {% if question.answer %}
                        {{ question.answer }}
                    {% endif %}
                    </td>
                    <td>
                        {% for tag in question.tags.all %}
                            <span class="label label-default">{{ tag }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'questions-detail' question.pk %}">detail</a>
                        <a href="{% url 'questions-update' question.pk %}">update</a>
                        <a href="{% url 'labels-create' question.pk %}">label</a>
                        <a href="{% url 'questions-delete' question.pk %}">delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}