{# templates/upload_form.html #}
{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
	<h2>{{ title }}</h2>
	<p><a href="{% url 'questions-list' %}">Cancel</a></p>
	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input type=hidden name="html" value="true" />
		<table border=1>
			<tr>
				<th>ID</th>
				<th>Text</th>
				<th>Diagram</th>
				<th>Choices</th>
				<th>Valid?</th>
				<th>Has choices?</th>
				<th>Answer</th>
			</tr>
			{% for form in forms %}
				<tr>
					<td>{{ form.instance.pk }}</td>
					<td>{{ form.text }}</td>
					<td>
						<p><img src="{{ form.instance.diagram.url }}"></p>
						<p>{{ form.diagram }}></p>
					</th>
					<td>
						<ol>
						{% for choice in form.instance.choices.all %}
							<li>{{ choice.text }}</li>	
						{% endfor %}
						</ol>
					</td>
					<td>{{ form.valid }}</td>
					<td>{{ form.has_choices }}</td>
					<td>{{ form.answer }}</td>
				</tr>
			{% endfor %}
		</table>
		<p>
			<input type="submit" value="Update" />
			<a href="{% url 'questions-list' %}">Cancel</a>
		</p>
	</form>

{% endblock %}