{% extends "base.html" %}
{% block title %} Questions {% endblock %}
{% block content %}
	<h2>Questions</h2>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>Text</th>
			<th>Diagram</th>
			<th>Tags</th>
			<th>Actions</th>
		</tr>
		{% for question in question_list %}
			<tr>
				<td>{{ question.pk }}</td>
				<td>{{ question.text }}</td>
				<td>
				{% if question.diagram != '' %}
					<img src="{{ question.diagram.url }}">
				{% endif %}
				</td>
				<td>
					{% for tag in question.tags.all %}
					{{ tag }} 
					{% endfor %}
				</td>
				<td>
					<a href="../update/{{ question.pk }}">update</a>
					<a href="../delete/{{ question.pk }}">delete</a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}