{# templates/upload_form.html #}
{% extends "semantics/semantic_base.html" %}

{% block title %}Annotate parses from a sentence{% endblock %}
{% block content %}
    <h2>Question ID: {{ sentence.question.pk }}</h2>
    <img src="{{ sentence.question.diagram.url }}">
    <p>{{ sentence.question.text }}</p>
    <h4>sentence index: {{ sentence.index }}</h4>
    <table class="table">
        <tr>
            {% for word in sentence.words.all %}
                <th>{{  word.index }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for word in sentence.words.all %}
                <td>{{  word.text }}</td>
            {% endfor %}
        </tr>
    </table>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="html" value="true" />
        <input type="hidden" name="next" value="{{ next }}" />
        {{ form }}
        <input type="submit" value="Upload" />
    </form>
    <a href="{{ next }}">Next</a>
{% endblock %}

{% block script %}
{% endblock %}
